<div class="container mt-4">
    <h3 class="mb-4">Danh sách Từ thiện</h3>

    <form method="GET" action="/admin/tuthien" class="row mb-3">
        <div class="row mb-3">
            <div class="col-md-4">
                <input type="text" class="form-control" name="idQuy" placeholder="ID quỹ từ thiện" value="{{idQuy}}">
            </div>
            <div class="col-md-3">
                <input type="date" class="form-control" name="startDate" value="{{startDate}}">
            </div>
            <div class="col-md-3">
                <input type="date" class="form-control" name="endDate" value="{{endDate}}">
            </div>
            <div class="col-md-1 d-grid">
                <button type="submit" class="btn btn-secondary">Làm mới</button>
            </div>
            <div class="col-md-1 d-grid">
                <button type="submit" class="btn btn-primary">Lọc</button>
            </div>
        </div>
    </form>

    <div class="mb-3 text-end">
        <a href="/admin/tuthien/them" class="btn btn-outline-primary">+ Thêm mới</a>
    </div>

    <table class="table table-bordered mt-3">
        <thead class="table-primary">
            <tr>
                <th>ID</th>
                <th>Tên Quỹ</th>
                <th>Mô tả</th>
                <th>Thời gian</th>
                <th>Trạng thái</th>
                <th>Xem chi tiết</th>
            </tr>
        </thead>
        <tbody>
            {{#each danhSachTuThien}}
            <tr>
                <td>{{this.idQuyTuThien}}</td>
                <td>{{this.tenQuy}}</td>
                <td>{{this.mota}}</td>
                <td>{{formatDate this.ngayBatDau}} → {{formatDate this.ngayKetThuc}}</td>
                <td><span class="badge bg-info">{{this.trangThai}}</span></td>
                <td>
                    <a href="/admin/tuthien/{{this.idQuyTuThien}}-{{this.slug}}" class="btn btn-sm btn-primary">Xem</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="6">
                    <div class="alert alert-danger" role="alert">
                        Không có Quỹ từ thiện nào.
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>